body ,html 
{
	margin: 0px;
	padding: 0px;
}
#forkme_banner {
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 10;
	padding: 10px 10px 10px 40px;
	color: white;
	background: url('../img/blacktocat.png') #094AB2 no-repeat 5% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.header
{
	background-color: #094AB2;
	font-weight: bold;
	font-size: 18px;
	padding-top: 7px;
	padding-bottom: 1px;
	color: #FFF;
}

ul 
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.row-fluid {
	padding-left: 5px;
}
.row-fluid:nth-child(n+3) { 
border-bottom: 1px solid #EEE;
padding-top: 4px;
padding-bottom: 4px;
}

.dropbox,.box,.skydrive,.googledrive
{
	text-align: center;
}

.icon-red {
	color:#990000;
}
.icon-green {
	color:#339900;
}
@media all and (max-width: 480px) {
	h1.title {
		padding-top: 30px;
	}
}

/*.row:nth-child(2n+3) {background: #CCC}*/